@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222, 47%, 11%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    --dark-blue: 231, 51%, 21%;
    --clr-orange: 17, 89%, 50%;
    --font-inter: 'Inter Variable', sans-serif;
    --healding-1: clamp(
      1.875rem,
      1.2003138075313808rem + 2.510460251046025vw,
      3.75rem
    );
    --healding-2: clamp(
      1.875rem,
      1.6501046025104602rem + 0.8368200836820083vw,
      2.5rem
    );
  }

  .dark {
    --background: 222, 47%, 11%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;

    /* --sx: hsl(222, 47%, 11%); */
  }
}

@layer base {
  * {
    @apply border-border;
  }

  html,
  body {
    @apply h-full;
  }
  body {
    @apply bg-background font-inter text-foreground;
  }

  section:not(section:is(#hero)) {
    @apply pt-24 md:pt-44;
  }

  p {
    @applymd:text-xl;
  }
}

@layer utilities {
  .themeToggle {
    @apply relative flex h-[34px] w-[71px] items-center justify-between rounded-full border-2 border-[#E54D2E] bg-[rgba(229,77,46,0.16)] px-2 before:absolute before:left-[-1.5px] before:m-1  before:h-[26px] before:w-[26px] before:rounded-full before:bg-[#E54D2E] before:transition before:duration-500 before:ease-in-out dark:before:translate-x-[35px];
  }
}
