---
// import { db, Member } from 'astro:db'

import BaseLayout from '@/layouts/BaseLayout.astro'

// const members = await db.select().from(Member)
---

<BaseLayout title="PossaCode - A propos">
  <div class="container py-40">
    <h2 class="text-healding-2 font-semibold uppercase">Qui sommes-nous ?</h2>
  </div>
</BaseLayout>
