---
import { db, Member } from 'astro:db'

import BaseLayout from '@/layouts/BaseLayout.astro'
import { MetaData } from '@/data/siteConfig'

const members = await db.select().from(Member)

// TODO: Use this function to collect user info from the github

const filteredMemebers = members.map((member) => ({
  first_name: member.first_name,
  last_name: member.last_name,
  role: member.role,
  profession: member.profession,
}))
---

<BaseLayout title={`A propos - ${MetaData.title}`}>
  <div class="container py-40">
    <h2 class="text-healding-2 font-semibold uppercase">Qui sommes-nous ?</h2>

    <pre>
      {JSON.stringify(filteredMemebers, null, 2)}
    </pre>
  </div>
</BaseLayout>
