---
import BaseLayout from '@/layouts/BaseLayout.astro'
---

<BaseLayout title="PossaCode - Contact">
  <div class="container py-40">
    <h2 class="text-healding-2 font-semibold uppercase">Contact</h2>
  </div>
</BaseLayout>
