---
import { Image } from 'astro:assets'

import NavLink from '@/components/NavLink.astro'
// TODO: fixe the themetoggle bug
// import ThemeToggle from '@/components/ThemeToggle.astro'
import { MobileNavigation } from '@/components/MobileNavigation'
import Button from '@/components/Button.astro'

import NavLinks from '@/data/navLinks.json'

import PossaCodeWhiteLogo from '@/content/images/possacode-logo-white.png'
---

<header class="fixed top-0 z-10 w-full py-4">
  <nav class="container flex items-center justify-between">
    <a href="/">
      <Image
        src={PossaCodeWhiteLogo}
        alt="PossaCode logo"
        quality="high"
        format="webp"
        loading="eager"
        class="w-32 md:w-40"
      />
    </a>

    <div class="flex items-center space-x-10">
      <ul role="list" class="hidden items-center space-x-6 lg:flex">
        {NavLinks.map((navLink) => <NavLink {...navLink} />)}
      </ul>

      <!-- TODO: -->
      <!-- <ThemeToggle /> -->

      <p class="hidden md:inline-block">
        <Button href="./devenir-membre" text="Dévenir membre" />
      </p>
      <MobileNavigation client:load />
    </div>
  </nav>
</header>

<style>
  header {
    @apply border-b-[0.5px] border-slate-50 bg-white/70;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
  }
</style>
