---
import '@/styles/globals.css'
import '@fontsource-variable/inter'

import SEOHead from '@/components/SEOHead.astro'
import Header from '@/components/Header.astro'
import Footer from '@/components/Footer.astro'

const { title, description, ogImage } = Astro.props
---

<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <SEOHead title={title} description={description} ogImage={ogImage} />
  </head>
  <body>
    <Header />
    <main class="flex-grow">
      <slot />
    </main>
    <Footer />
  </body>
</html>
